/* reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.container {
  margin: 0px auto;
  padding: 0px 10px;
  width: 1000px;
  max-width: 100%;
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}
li {
  list-style: none;
}
h2{
    font-size: 2rem;
    padding: 30px 0px;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 0.9rem;
    font-weight: 400;
}

/*HEADER*/
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-link,
.nav-right,
a {
  padding: 5px 10px;
  display: inline;
  text-decoration: none;
  list-style: none;
  color: black;
}
.btn.accedi {
  display: inline;
}
.logo-header {
  width: auto;
}
section{
    padding: 30px 0px;
}
/*MAIN*/

/*hero SECTION*/
.hero-section {
  background-color: rgb(180, 208, 231);
  padding: 20px 0px;
}
.hero-section > .container {
  min-height: 600px;
  padding-top: 70px;
 
}
.container.title {
  width: 100%;
  
}
.content-container{
    display:flex ;
    position: relative;
    top: 70px;  
}
.hero.title{
    font-size: 3.7rem;
}
.hero-text-container {
  flex-basis: 40%;
}

/*SECOND SECTION*/

.business-plane .container {
  min-height: 600px;
  margin-top: 100px;
  
}
.business-plane{
    width: 100%;
}
/*.business-plane.title,
.option-title {
  width: 100%;
}*/
.input{
    margin: 30px 30px;
}

.plane,
.option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 49px;
  min-height: 400px;
}
.plane{
  align-items: stretch;
}
.card-container,
.option-card {
  flex-basis: 30%;
  align-self: stretch;
  border: 1px solid lightgray;
}

.card-header {
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px;
}
.card-body{
  
  padding: 30px 15px;
}
.duration{
    color: gray;
}
.card-items, .link.card{
padding:15px 0px;
}
.btn.card{
    margin: 20px 0px;
}

/*team*/
.team .container {
  padding-top: 20px;
}
.team-header {
  border: 1px solid lightgray;

}
.team-body {
  display: flex;

  border: 1px solid lightgray;
}
/*partner*/

.partner > .container {
  display: flex;
  justify-content: center;
  min-height: 300px;
}
.column-l {
  flex-basis: 70%;
  
}
.column-s {
  flex-basis: 30%;
  
}
/*OTIONS*/
.option {
  background-color: darkslategrey;
  padding-top: 20px;
}
.option .container {
  min-height: 800px;
}

/*BOH*/
.pass {
  min-height: 400px;
  background-color: blue;
  padding-top: 20px;
}
.pass .container {
  background-color: azure;
  min-height: 200px;
}
/*BUNNER*/
.bunner {
  min-height: 800px;
  background-color: darkkhaki;
  padding-top: 20px;
}
.bunner > .container {
  width: 100%;
  background-color: brown;
  min-height: 400px;
  padding: 0%;
}
.first-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  align-items: stretch;
  min-height: 500px;
}
.column-left {
  border: 1px solid black;
  background-color: rosybrown;
  flex-basis: 33.33%;
}
.column-center {
  border: 1px solid black;
  background-color: darkkhaki;
  flex-basis: 33.33%;
}
.column-right {
  border: 1px solid black;
  background-color: darkorchid;
  flex-basis: 33.33%;
}

.prove {
  background-color: rgb(180, 208, 231);
  padding: 100px 0px;
}
.prove .container {
  display: flex;
  justify-content: space-between;
}

/*footer*/

/*footer*/

.page-sectionsection-footer > .container {
}
.page-sectionsection-footer {
  background-color: rgb(35, 39, 42);
  color: rgb(255, 255, 255);
}

.footer-column {
  display: flex;
  flex-basis: 20%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: center;
}

.link-list {
  display: inline;
}

.footer-items {
  list-style: none;
  padding: 15px 0px;
}

.footer-items > a {
  text-decoration: none;
  text-align: left;
  color: white;
}
