/* reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.container {
  margin: 0px auto;
  padding: 0px 10px;
  width: 1000px;
  max-width: 100%;
}
/*UTILS*/

a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
li {
  list-style: none;
}
h2 {
  font-size: 2rem;
  padding: 30px 0px;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 0.9rem;
  font-weight: 400;
}
.btn {
  padding: 5px 10px;
  background-color: rgb(35, 35, 226);
  color: white;
  border: 0px;
}
section {
  padding: 40px 0px;
}

/*HEADER*/
.header .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.nav-left {
  display: flex;
  align-items: center;
}
.nav-link,
.nav-right,
a {
  padding: 5px 10px;
  display: inline;
  text-decoration: none;
  list-style: none;
  color: black;
}
.btn.accedi {
  display: inline;
}
.logo-header {
  width: auto;
}

/*HERO SECTION*/
.hero-section {
  background-color: rgb(180, 208, 231);
}
.hero-section > .container {
  min-height: 600px;
  padding-top: 70px;
}
.container.title {
  width: 100%;
}
.content-container {
  display: flex;
  position: relative;
  top: 70px;
}
.hero.title {
  font-size: 3.7rem;
}
.hero-text-container {
  flex-basis: 40%;
}
.hero.text,
.btn.hero {
  margin-bottom: 20px;
}
.arrow {
  font-size: 3rem;
  padding-top: 30px;
}
.hero-img {
  width: 60%;
}
/*BUSINESS PLAN*/

.input {
  margin: 30px 30px;
}
.plane,
.option-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 49px;
  min-height: 400px;
}
.card-container,
.option-card {
  flex-basis: 30%;
  align-self: stretch;
  border: 1px solid lightgray;
}
.card-header {
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px;
}
.card-body {
  padding: 30px 20px;
}
.duration {
  color: gray;
}
.card-items,
.link.card {
  padding: 15px 0px;
}
.btn.card {
  margin: 20px 0px;
}
/*TEAM*/
.team-header {
  border: 1px solid lightgray;
  text-align: center;
  padding: 10px 0px;
}
.team-body {
  display: flex;
  padding: 20px;
  border: 1px solid lightgray;
}
.team-p {
  padding: 20px 0px 30px 0px;
  font-weight: 600;
}

/*PARTNER*/

.partner-container {
  display: flex;
  justify-content: center;
}
.partner-subtitle,
.partner-subtitle {
  padding: 20px 0px;
}

.column-l {
  flex-basis: 70%;
  padding: 0px 30px;
}
.column-s {
  flex-basis: 30%;
}
/*OFFERT*/

.option-title {
  padding: 30px 0px;
}
.option .container {
  min-height: 800px;
}
.option-card {
  padding: 20px;
  border: 0px;
}
/*PASS*/

.pass .container h2 {
  padding: 30px 0px 50px 0px;
}
.pass .container a {
  color: rgb(46, 24, 126);
  padding: 0%;
  text-decoration: underline;
}
/*BUNNER*/

.brand > .container {
  width: 100%;
  padding: 0%;
}
.row {
  display: flex;
}
.column-center {
  padding: 60px;
}

.column-left,
.column-center,
.column-right {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw / 3);
  height: calc(100vw / 3);
}
.column-left .brand-square,
.column-right .brand-square {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
}
.red{
  background-color: red;
}
.green{
  background-color: rgb(124, 199, 124);
}
.borgundi{
background-color: rgb(82, 19, 32);
}
.blu{
  background-color:blue;
}
.yellow{
  background-color: yellow;
}
.light-blu{
  background-color: lightblue;
}
.deep-blu{
  background-color: rgb(21, 21, 61);
}
/*PROVE*/
.Prove {
  background-color: rgb(180, 208, 231);
  padding: 100px 0px;
}
.prove-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(80, 12, 32);
}
.button-prove {
  padding: 30px 0px;
}
/*ASK*/
.question {
  padding: 20px 0px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

/*footer*/

.footer {
  background-color: rgb(35, 39, 42);
  color: rgb(255, 255, 255);
}
.chevron {
  text-align: right;
}
.footer-column {
  display: flex;
  flex-basis: 20%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0px;
  align-items: center;
}

.footer-items {
  list-style: none;
  padding: 15px 0px;
}

.footer-items > a {
  text-decoration: none;
  text-align: left;
  color: white;
}
.footer-items.title {
  padding-left: 10px;
}
